*{
    margin: 0;
    padding: 0;   
}

html{
    font-size: 62.5%;
    width: 100%;    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-image: linear-gradient(to right top, white, rgba(166, 97, 245, 0.205), transparent);    
}
#principal{
  width: 100%;   
    
}
header{
    margin-right: 45%;
    margin-left: 45%;
    padding-top: 10px;        
}
.logotipo{
    width: 100%;
    height: 100%;
    border-radius: 100%;            
}
.titulo h1{
    font-size: 3.0rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 2px;
}
.titulo p{
    font-size: 1.8rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;        
}

.galeria-titulo{
    font-size: 1.5rem;
    margin-bottom: 7px;
}
p{
    padding: 10px;
}
.galeria-jogo-cordas{
    padding: 10px 100px 0px 170px;
    overflow: auto;     
}
.galeria-jogo-cordas img{
    width: 90%;     
}
.galeria-imagem{
    width: 30%;
    float: left;
    text-align: center;
    transition: .5s;
}
.galeria-imagem:hover{
    transform: scale(.95);
    z-index: 2;
}
.galeria-cordas-avulsas{
    padding: 10px 100px 0px 170px;
    overflow: auto;
}
.galeria-cordas-avulsas img{
    width: 90%;    
}
/*.galeria-cordas-avulsas{
    padding: 20px 10px 30px 100px;
    overflow: auto;   
        
}
.galeria-cordas-avulsas img{
    width: 90%;
    padding: 10px;
}*/


.contato address{
    text-align: center;
    text-decoration: none;
    padding: 5px 0 0px 0;
    margin-bottom: -20px;    
    line-height: 3.0rem;
    font-style: normal;        
    color: rgb(0, 0, 0);   
    background-color: rgba(24, 0, 56, 0.171);
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.89), rgba(24, 0, 56, 0.096));
    border-top: 1px solid rgba(8, 7, 7, 0);
    font-size: 1.6rem;          
}
footer{
    text-align: center;    
    padding: 10px;    
    background-color:  rgb(24, 0, 56);
    color: white;
    letter-spacing: 1.8px;
    font-size: 1.5rem;        
}
.logo-contato{
    width: 1.5%;
}
.bandeiras-cartao{
    width: 30%;
    padding: 0px 0 0;
    margin: -10px 0 0;   
}
.contato a{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;     
}
.contato a:hover{
    color: rgb(63, 13, 128);
}

@media screen and (min-device-width: 320px) and (max-device-width: 1024px){           
    *{
        margin: 0;
        padding: 0;        
    }
    html body{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    #principal{
        width: 100%;
    }       
    header{
        /*text-align: center;*/
        padding: 10px 60px 5px 75px;
        margin: 0 50px 0 50px;      
    }
    .logotipo{
        width: 55%;
        border-radius: 100%;
        margin-left: 20%;
    }
    .titulo h1{
        font-size: 2.0rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .titulo p{
        font-size: 1.2rem;
        text-align: center;
        margin-top: 1px;
        margin-bottom: 5px;        
    }
    
    .galeria-titulo{
        font-size: 1.2rem;
        margin-bottom: 1px;
    }
    p{
        padding: 7px;
    }
    .galeria-jogo-cordas{
        padding: 5px 5px 0 5px;
        width: 100%;
        overflow: auto;
        display: inline-block;
        box-sizing: border-box;                
    }
    .galeria-imagem{
        width: 45%;
        margin-left: 9px;
        float: left;
        text-align: center;
        transition: .5s;
    }
    .galeria-imagem:hover{
        transform: scale(.95);
        z-index: 2;
    }
    .galeria-acessorios{
        padding: 5px 5px 0 5px;
        width: 100%;
        overflow: auto;
        display: inline-block;  
    }
    .galeria-acessorios img{
        width: 90%;
    }
    .galeria-cordas-avulsas{
        padding: 5px 5px 0 5px;
        width: 100%;
        overflow: auto;
        display: inline-block;  
    }
    .galeria-acessorios-breus img{
        width: 90%; 
    }
    .galeria-acessorios-breus{
        display: inline-block;
        padding: 5px 5px 0 5px;
        width: 100%;

    } 
    .galeria-cordas-avulsas img{
        width: 90%;    
    }  
    .contato{
        width: 100%;
    } 
    .contato address{
        text-align: center;        
        text-decoration: none;
        padding: 3px 0 7px 0;
        margin-bottom: -10px;    
        line-height: 2.0rem;
        font-style: normal;        
        color: rgb(0, 0, 0);   
        background-color: rgba(24, 0, 56, 0.171);
        border-bottom: 1px solid rgba(0, 0, 0, 0.466);
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.89), rgba(24, 0, 56, 0.096));
        border-top: 1px solid rgba(8, 7, 7, 0);
        font-size: 1.2rem;          
    }
    footer{
        text-align: center;
        width: 100%;    
        padding: 10px;    
        background-color:  rgb(24, 0, 56);
        color: white;
        letter-spacing: 1.5px;
        font-size: 1.2rem;
        box-sizing: border-box;       
    }
    .logo-contato{
        width: 4.5%;
    }
    .bandeiras-cartao{
        width: 45%;
        padding: -15px 0 -1px 0;
        margin-top: 0px;
           
    }
    .contato a{
        text-decoration: none;
        color: black;
        letter-spacing: 1.5px;
        line-height: 2.5px;     
    }
    .contato a:hover{
        color: rgb(63, 13, 128);
    }
}
@media screen and (min-device-width: 1026px) and (max-device-width: 2024px){           
    *{
        margin: 0;
        padding: 0;        
    }
    html body{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    #principal{
        width: 100%;
        box-sizing: border-box;
    }       
    header{
        /*text-align: center;*/
        padding: 10px 60px 5px 75px;
        margin: 0 50px 0 50px;
        box-sizing: border-box;
    }
    .logotipo{
        width: 15%;
        text-align: center;
        margin-left: 42%;
        border-radius: 100%;
    }
    .titulo h1{
        font-size: 2.9rem;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .titulo p{
        font-size: 1.6rem;
        text-align: center;
        margin-top: 1px;
        margin-bottom: 5px;        
    }
    
    .galeria-titulo{
        font-size: 1.7rem;
        margin-bottom: 1px;
    }
    p{
        padding: 7px;
    }
    .galeria-jogo-cordas{
        padding: 5px 5px 0 5px;
        width: 100%;
        overflow: auto;
        display: block;
        box-sizing: border-box;                
    }
    .div-galeria-imagem{
        width: 69%;     
        margin-left: 14%;
        float: left;
        text-align: center;
        transition: .5s;
        display: inline-block;
        box-sizing: border-box;

    }
    .galeria-imagem{
        width: 35%;        
        padding: 10px;
        margin-left: 9.2%;
        float: left;
        text-align: center;
        transition: .5s;
    }
    .galeria-imagem:hover{
        transform: scale(.95);
        z-index: 2;
    }
    .galeria-acessorios{
        padding: 5px 5px 0 5px;
        width: 100%;        
        overflow: auto;
        float: left;
        box-sizing: border-box;         
    }
    .galeria-acessorios img{
        width: 90%;
    }       
    .galeria-acessorios-breus img{
        width: 90%; 
    }
    .galeria-cordas-avulsas{
        padding: 5px 5px 0 5px;
        width: 100%;
        overflow: auto;
        display: inline-block;
        box-sizing: border-box;  
    }
    .galeria-cordas-avulsas img{
        width: 90%;    
    }
    .galeria-acessorios-breus{
        display: inline-block;
        padding: 5px 5px 0 5px;
        width: 100%;
        box-sizing: border-box;

    } 
    .contato{
        width: 100%;
        height: 10%;
        padding: 1px;
        box-sizing: border-box;
    } 
    .contato address{       
        text-align: center;        
        text-decoration: none;
        padding: 3px 0 7px 0;
        margin-bottom: -10px;    
        line-height: 1.8rem;
        font-style: normal;        
        color: rgb(0, 0, 0);   
        background-color: rgba(24, 0, 56, 0.171);
        border-bottom: 1px solid rgba(0, 0, 0, 0.466);
        background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.89), rgba(24, 0, 56, 0.096));
        border-top: 1px solid rgba(8, 7, 7, 0);
        font-size: 1.5rem;
        box-sizing: border-box;                                         
    }
    footer{        
        text-align: center;
        width: 100%;    
        padding: 10px;    
        background-color:  rgb(24, 0, 56);
        color: white;
        letter-spacing: 1.5px;
        font-size: 2.0rem;
        box-sizing: border-box;         
    }
    .logo-contato{
        width: 1.5%;
    }
    .bandeiras-cartao{
        width: 20%;
        padding: -30px 0 -1px 0;
        margin-top: 5px;
        box-sizing: border-box;
           
    }
    .contato a{
        text-decoration: none;
        color: black;
        letter-spacing: 1.2px;
        line-height: 2.0px;     
    }
    .contato a:hover{
        color: rgb(63, 13, 128);
    }
}